.myProfileChild {
  position: absolute;
  top: 66px;
  left: 68px;
  border-radius: 50%;
  width: 254px;
  height: 260px;
  object-fit: cover;
}
.johnDoe {
  position: absolute;
  top: 335px;
  left: 131px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 40px;
}
.pastTags {
  top: 401px;
  left: 30px;
  text-align: left;
  width: 128px;
}
.currentTags,
.div,
.pastTags {
  position: absolute;
  display: flex;
  align-items: center;
  height: 40px;
}
.currentTags {
  top: 619px;
  left: 22px;
  text-align: left;
  width: 154px;
}
.div {
  top: 352px;
  left: 140px;
  font-size: var(--font-size-5xs);
  color: var(--color-darkgray);
  justify-content: center;
  width: 112px;
}
.rfyVariant1Child,
.rfyVariant1Inner,
.rfyVariant1Item {
  position: relative;
  border-radius: var(--br-5xs);
  width: 90px;
  height: 135px;
  object-fit: cover;
  z-index: 0;
}
.rfyVariant1Inner,
.rfyVariant1Item {
  z-index: 1;
}
.rfyVariant1Inner {
  z-index: 2;
}
.recommendedForYou {
  position: absolute;
  margin: 0 !important;
  top: 15px;
  left: 46px;
  display: none;
  z-index: 3;
}
.rfyVariant1 {
  position: absolute;
  top: 407px;
  left: -17px;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-22xl) var(--padding-27xl);
  gap: var(--gap-13xl);
  font-size: var(--font-size-3xs);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-arial-rounded-mt-bold);
}
.myProfileItem {
  position: absolute;
  top: 276px;
  left: 259px;
  width: 41px;
  height: 41px;
}
.iconographyCaesarzkn,
.iconographyCaesarzkn1 {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 0;
}
.iconographyCaesarzkn1 {
  z-index: 1;
}
.iconographyCaesarzkn2 {
  position: relative;
  width: 48px;
  height: 48px;
  z-index: 2;
}
.bottomNavBarChild {
  position: absolute;
  margin: 0 !important;
  top: 74px;
  left: 257px;
  width: 38px;
  height: 4px;
  z-index: 3;
}
.bottomNavBar {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 330px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-44xl);
}
.bottomNavBarWrapper {
  position: absolute;
  bottom: 11px;
  left: calc(50% - 175.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs);
}
.myProfile {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 977px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-nico-moji);
}
