@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("/public/arlrdbd.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Nico Moji";
  src: url("/public/NicoMoji-Regular.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-nico-moji: "Nico Moji";
  --font-arial-rounded-mt-bold: "Arial Rounded MT Bold";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-5xs: 8px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-gray-100: #25252a;
  --color-gray-200: #1c1a19;
  --color-gray-300: #0a0a0a;
  --color-peachpuff: #efc7a9;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #eaeaea;
  --color-white: #fff;
  --color-darkgray: #a6a6a6;
  --color-black: #000;
  --color-deeppink: #ea0b8c;
  --color-blueviolet: #9747ff;

  /* Gaps */
  --gap-44xl: 63px;
  --gap-13xl: 32px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-22xl: 41px;
  --padding-27xl: 46px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-10xl: 29px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-6xl: 25px;
  --br-7xs: 6px;
  --br-5xs: 8px;
  --br-4xs: 9px;
  --br-8xs: 5px;
}
